<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Nosotros</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/bicicletas">Bicicletas</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#signup">Contacto</a></li>
            </ul>
        </div>
    </div>
</nav>