<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <br>
    <br>
    <h1 class="text-center">AGREGAR BICICLETA</h1>
    <form autocomplete="off" class="form" action="/bicicletas/crear" method="POST">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control rounded-pill" name="id" placeholder="Ej: 1">
        </div>
        <div class="form-group">
            <label for="color">COLOR</label>
            <input type="text" class="form-control rounded-pill" name="color" placeholder="Ej: Negro">
        </div>
        <div class="form-group">
            <label for="model">MODELO</label>
            <input type="text" class="form-control rounded-pill" name="model" placeholder="Ej: Urbana">
        </div>
        <div class="form-group">
            <label for="ubication">LATITUD</label>
            <input type="text" class="form-control rounded-pill" name="latitude" placeholder="Ej: -34.596932">
        </div>
        <div class="form-group">
            <label for="ubication">LONGITUD</label>
            <input type="text" class="form-control rounded-pill" name="lng" placeholder="Ej:-58.3808287">
        </div>
        <div class="mx-auto bg-light shadow-sm">
            <div class="form-group float-right mt-2">
                <button type="submit" class="btn btn-info rounded-pill">Guardar</button>
            </div>
        </div>
    </form>
    <div id="btn-volver" class="form-group float-left mt-2">
        <a href="/bicicletas"><button class="btn btn-secondary rounded-pill"><i class="fas fa-arrow-left mr-1"></i>Volver</button></a>
    </div>
    <%- include('../partials/footer.ejs') %>
    <%- include('../partials/scripts.ejs') %>
</body>

</html>