<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top mb-5" id="mainNav">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a style="color:black;" class="nav-link js-scroll-trigger" href="#about">Nosotros</a></li>
                    <li class="nav-item"><a style="color:black;" class="nav-link js-scroll-trigger" href="/bicicletas">Bicicletas</a></li>
                    <li class="nav-item"><a style="color:black;" class="nav-link js-scroll-trigger" href="#signup">Contacto</a></li>
                </ul>
            </div>
        </div>
    </nav>
<br>
<br>

    <table class="table mt-5 text-center">
        <thead class="mt-3">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Color</th>
                <th scope="col">Modelo</th>
                <th scope="col">Ubicación</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="mt-3">
        <% bicycles.forEach(bikes => { %>
            <tr>
                <td scope="row"><%= bikes.id %></td>
                <td><%= bikes.color%> </td>
                <td><%= bikes.model%> </td>
                <td><%= bikes.ubication%> </td>
                <td><a id="btn-edit" class=" text-decoration-none" href="/bicicletas/editar/<%= bikes.id%>"><i class="fas fa-edit text-decoration-none"></i></a></td>
                <td><a id="btn-delete" class=" text-decoration-none" href="/bicicletas/eliminar/<%= bikes.id%>"><i class="fas fa-trash text-decoration-none"></i></a></td>        
             </tr>
        <% }) ; %>
        </tbody>
    </table>
    <div class="mx-auto bg-light shadow-sm">
        <a href="/bicicletas/crear">
            <div class="form-group float-right mt-2">
                <button class="btn btn-info rounded-pill">Agregar Nueva bici</button>
            </div>
        </a>
    </div>
    <%- include('../partials/footer.ejs') %>
    <%- include('../partials/scripts.ejs') %>
</body>

</html>